USE [SysproCompany100]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[trg_Audit_InvMaster+_AfterUpdate]
  ON [dbo].[InvMaster+]
AFTER UPDATE
AS
BEGIN

  SET NOCOUNT ON;

  DECLARE @Audit_DateTime AS DATETIME     = GETDATE()
         ,@Audit_Type     AS VARCHAR(1)   = 'U'
         ,@Audit_Username AS VARCHAR(128) = SYSTEM_USER;

  INSERT INTO SysproCompany100_Audit.Stage.[InvMaster+] (
					 [Audit_DateTime]
					,[Audit_Type]
					,[Audit_Username]
					,[StockCode]
					,[AvailableToday_Old]
					,[AvailableIn15Days_Old]
					,[AvailableIn30Days_Old]
					,[CarrierType_Old]
					,[CoaRequired_Old]
					,[CommodityClass_Old]
					,[CompSchDefault_Old]
					,[CushStyle_Old]
					,[CushFabric_Old]
					,[CushCustomCompont_Old]
					,[CushionEmbroidery_Old]
					,[DefaultRoute_Old]
					,[DiscontinuedDate_Old]
					,[Essential_Old]
					,[IncludeAvailReport_Old]
					,[IncludeCycleCount_Old]
					,[IncludeSaleReport_Old]
					,[LifoPool_Old]
					,[LoadingFactor_Old]
					,[LookAheadWindow_Old]
					,[NextAvailableDate_Old]
					,[NmfcCode_Old]
					,[OrderEntryNote_Old]
					,[ProductCategory_Old]
					,[ProductGrouping_Old]
					,[ProductStatus_Old]
					,[ProductType_Old]
					,[ProposedCost_Old]
					,[PurchasingGroup_Old]
					,[QaInsReason_Old]
					,[SerialRequired_Old]
					,[Size1_Old]
					,[SpecialNotes_Old]
					,[Style_Old]
					,[Units_Old]
					,[WarehouseProgram_Old]
					,[WhiteLabel_Old]
					,[TimeStamp_Old]
					,[NewCategory_Old]
					,[CurrentLot_Old]
					,[UnitSales3Months_Old]
					,[UnitSales6Months_Old]
					,[UnitSales12Months_Old]
					,[ProductNumber_Old]
					,[BodyFabric_Old]
					,[CushionFillType_Old]
					,[CushionConfig_Old]
					,[NailheadFinish_Old]
					,[NailheadPattern_Old]
					,[Finish_Old]
					,[CustomWidth_Old]
					,[CustomDepth_Old]
					,[CustomArm_Old]
					,[CustomBack_Old]
					,[CustomBase_Old]
					,[OutboundVolume_Old]
					,[UmbHoleDiameter_Old]
					,[PriceMultiplierCat_Old]
					,[CustomStockCode_Old]
					,[BodyWelt_Old]
					,[ExtWarrantyType_Old]			
					,[PimDepartment_Old]		
					,[PimCategory_Old]		
					,[PimSubcategory_Old]			
					,[PimType_Old]			
					,[PillowFabric_Old]			
					,[PillowTrim_Old]			
					,[PillowTreatment_Old]			
					,[SkirtTaping_Old]		
					,[SectionalNotches_Old]			
					,[PimTypeId_Old]					
					,[ContrastInsideFab_Old]	
					,[CushThreadColor_Old]		
					,[OutboundInspection_Old]	
					,[ExcessInventory_Old]		
					,[LabelColor_Old]
					,[AvailableToday_New]
					,[AvailableIn15Days_New]
					,[AvailableIn30Days_New]
					,[CarrierType_New]
					,[CoaRequired_New]
					,[CommodityClass_New]
					,[CompSchDefault_New]
					,[CushStyle_New]
					,[CushFabric_New]
					,[CushCustomCompont_New]
					,[CushionEmbroidery_New]
					,[DefaultRoute_New]
					,[DiscontinuedDate_New]
					,[Essential_New]
					,[IncludeAvailReport_New]
					,[IncludeCycleCount_New]
					,[IncludeSaleReport_New]
					,[LifoPool_New]
					,[LoadingFactor_New]
					,[LookAheadWindow_New]
					,[NextAvailableDate_New]
					,[NmfcCode_New]
					,[OrderEntryNote_New]
					,[ProductCategory_New]
					,[ProductGrouping_New]
					,[ProductStatus_New]
					,[ProductType_New]
					,[ProposedCost_New]
					,[PurchasingGroup_New]
					,[QaInsReason_New]
					,[SerialRequired_New]
					,[Size1_New]
					,[SpecialNotes_New]
					,[Style_New]
					,[Units_New]
					,[WarehouseProgram_New]
					,[WhiteLabel_New]
					,[TimeStamp_New]
					,[NewCategory_New]
					,[CurrentLot_New]
					,[UnitSales3Months_New]
					,[UnitSales6Months_New]
					,[UnitSales12Months_New]
					,[ProductNumber_New]
					,[BodyFabric_New]
					,[CushionFillType_New]
					,[CushionConfig_New]
					,[NailheadFinish_New]
					,[NailheadPattern_New]
					,[Finish_New]
					,[CustomWidth_New]
					,[CustomDepth_New]
					,[CustomArm_New]
					,[CustomBack_New]
					,[CustomBase_New]
					,[OutboundVolume_New]
					,[UmbHoleDiameter_New]
					,[PriceMultiplierCat_New]
					,[CustomStockCode_New]
					,[BodyWelt_New]	
					,[ExtWarrantyType_New]		
					,[PimDepartment_New]		
					,[PimCategory_New]			
					,[PimSubcategory_New]			
					,[PimType_New]				
					,[PillowFabric_New]			
					,[PillowTrim_New]		
					,[PillowTreatment_New]		
					,[SkirtTaping_New]			
					,[SectionalNotches_New]				
					,[PimTypeId_New]	
					,[ContrastInsideFab_New]	
					,[CushThreadColor_New]	
					,[OutboundInspection_New]		
					,[ExcessInventory_New]			
					,[LabelColor_New]
  )
  SELECT @Audit_DateTime				AS [Audit_DateTime]
        ,@Audit_Type					AS [Audit_Type]
        ,@Audit_Username				AS [Audit_Username]
        ,DELETED.[StockCode]			AS [StockCode]
        ,DELETED.[AvailableToday]		AS [AvailableToday_Old]
        ,DELETED.[AvailableIn15Days]	AS [AvailableIn15Days_Old]
        ,DELETED.[AvailableIn30Days]	AS [AvailableIn30Days_Old]
        ,DELETED.[CarrierType]			AS [CarrierType_Old]
        ,DELETED.[CoaRequired]			AS [CoaRequired_Old]
        ,DELETED.[CommodityClass]		AS [CommodityClass_Old]
        ,DELETED.[CompSchDefault]		AS [CompSchDefault_Old]
        ,DELETED.[CushStyle]			AS [CushStyle_Old]
        ,DELETED.[CushFabric]			AS [CushFabric_Old]
        ,DELETED.[CushCustomCompont]	AS [CushCustomCompont_Old]
        ,DELETED.[CushionEmbroidery]	AS [CushionEmbroidery_Old]
        ,DELETED.[DefaultRoute]			AS [DefaultRoute_Old]
        ,DELETED.[DiscontinuedDate]		AS [DiscontinuedDate_Old]
        ,DELETED.[Essential]			AS [Essential_Old]
        ,DELETED.[IncludeAvailReport]	AS [IncludeAvailReport_Old]
        ,DELETED.[IncludeCycleCount]	AS [IncludeCycleCount_Old]
        ,DELETED.[IncludeSaleReport]	AS [IncludeSaleReport_Old]
        ,DELETED.[LifoPool]				AS [LifoPool_Old]
        ,DELETED.[LoadingFactor]		AS [LoadingFactor_Old]
        ,DELETED.[LookAheadWindow]		AS [LookAheadWindow_Old]
        ,DELETED.[NextAvailableDate]	AS [NextAvailableDate_Old]
        ,DELETED.[NmfcCode]				AS [NmfcCode_Old]
        ,DELETED.[OrderEntryNote]		AS [OrderEntryNote_Old]
        ,DELETED.[ProductCategory]		AS [ProductCategory_Old]
        ,DELETED.[ProductGrouping]		AS [ProductGrouping_Old]
        ,DELETED.[ProductStatus]		AS [ProductStatus_Old]
        ,DELETED.[ProductType]			AS [ProductType_Old]
        ,DELETED.[ProposedCost]			AS [ProposedCost_Old]
        ,DELETED.[PurchasingGroup]		AS [PurchasingGroup_Old]
        ,DELETED.[QaInsReason]			AS [QaInsReason_Old]
        ,DELETED.[SerialRequired]		AS [SerialRequired_Old]
        ,DELETED.[Size1]				AS [Size1_Old]
        ,DELETED.[SpecialNotes]			AS [SpecialNotes_Old]
        ,DELETED.[Style]				AS [Style_Old]
        ,DELETED.[Units]				AS [Units_Old]
        ,DELETED.[WarehouseProgram]		AS [WarehouseProgram_Old]
        ,DELETED.[WhiteLabel]			AS [WhiteLabel_Old]
        ,DELETED.[TimeStamp]			AS [TimeStamp_Old]
		,DELETED.[NewCategory]			AS [NewCategory_Old]
		,DELETED.[CurrentLot]			AS [CurrentLot_Old]
		,DELETED.[UnitSales3Months]		AS [UnitSales3Months_Old]
		,DELETED.[UnitSales6Months]		AS [UnitSales6Months_Old]
		,DELETED.[UnitSales12Months]	AS [UnitSales12Months_Old]
		,DELETED.[ProductNumber]		AS [ProductNumber_Old]
		,DELETED.[BodyFabric]			AS [BodyFabric_Old]
		,DELETED.[CushionFillType]		AS [CushionFillType_Old]
		,DELETED.[CushionConfig]		AS [CushionConfig_Old]
		,DELETED.[NailheadFinish]		AS [NailheadFinish_Old]
		,DELETED.[NailheadPattern]		AS [NailheadPattern_Old]
		,DELETED.[Finish]				AS [Finish_Old]
		,DELETED.[CustomWidth]			AS [CustomWidth_Old]
		,DELETED.[CustomDepth]			AS [CustomDepth_Old]
		,DELETED.[CustomArm]			AS [CustomArm_Old]
		,DELETED.[CustomBack]			AS [CustomBack_Old]
		,DELETED.[CustomBase]			AS [CustomBase_Old]
		,DELETED.[OutboundVolume]		AS [OutboundVolume_Old]
		,DELETED.[UmbHoleDiameter]		AS [UmbHoleDiameter_Old]
		,DELETED.[PriceMultiplierCat]	AS [PriceMultiplierCat_Old]
		,DELETED.[CustomStockCode]		AS [CustomStockCode_Old]
		,DELETED.[BodyWelt]				AS [BodyWelt_Old]
		,DELETED.[ExtWarrantyType]		AS [ExtWarrantyType_Old]			
		,DELETED.[PimDepartment]		AS [PimDepartment_Old]		
		,DELETED.[PimCategory]			AS [PimCategory_Old]		
		,DELETED.[PimSubcategory]		AS [PimSubcategory_Old]			
		,DELETED.[PimType]				AS [PimType_Old]			
		,DELETED.[PillowFabric]			AS [PillowFabric_Old]			
		,DELETED.[PillowTrim]			AS [PillowTrim_Old]			
		,DELETED.[PillowTreatement]		AS [PillowTreatment_Old]			
		,DELETED.[SkirtTaping]			AS [SkirtTaping_Old]		
		,DELETED.[SectionalNotches]		AS [SectionalNotches_Old]		
		,DELETED.[PimTypeId]			AS [PimTypeId_Old]					
		,DELETED.[ContrastInsideFab]	AS [ContrastInsideFab_Old]	
		,DELETED.[CushThreadColor]		AS [CushThreadColor_Old]		
		,DELETED.[OutboundINspection]	AS [OutboundInspection_Old]	
		,DELETED.[ExcessInventory]		AS [ExcessInventory_Old]		
		,DELETED.[LabelColor]			AS [LabelColor_Old]
        ,INSERTED.[AvailableToday]		AS [AvailableToday_New]
        ,INSERTED.[AvailableIn15Days]	AS [AvailableIn15Days_New]
        ,INSERTED.[AvailableIn30Days]	AS [AvailableIn30Days_New]
        ,INSERTED.[CarrierType]			AS [CarrierType_New]
        ,INSERTED.[CoaRequired]			AS [CoaRequired_New]
        ,INSERTED.[CommodityClass]		AS [CommodityClass_New]
        ,INSERTED.[CompSchDefault]		AS [CompSchDefault_New]
        ,INSERTED.[CushStyle]			AS [CushStyle_New]
        ,INSERTED.[CushFabric]			AS [CushFabric_New]
        ,INSERTED.[CushCustomCompont]	AS [CushCustomCompont_New]
        ,INSERTED.[CushionEmbroidery]	AS [CushionEmbroidery_New]
        ,INSERTED.[DefaultRoute]		AS [DefaultRoute_New]
        ,INSERTED.[DiscontinuedDate]	AS [DiscontinuedDate_New]
        ,INSERTED.[Essential]			AS [Essential_New]
        ,INSERTED.[IncludeAvailReport]	AS [IncludeAvailReport_New]
        ,INSERTED.[IncludeCycleCount]	AS [IncludeCycleCount_New]
        ,INSERTED.[IncludeSaleReport]	AS [IncludeSaleReport_New]
        ,INSERTED.[LifoPool]			AS [LifoPool_New]
        ,INSERTED.[LoadingFactor]		AS [LoadingFactor_New]
        ,INSERTED.[LookAheadWindow]		AS [LookAheadWindow_New]
        ,INSERTED.[NextAvailableDate]	AS [NextAvailableDate_New]
        ,INSERTED.[NmfcCode]			AS [NmfcCode_New]
        ,INSERTED.[OrderEntryNote]		AS [OrderEntryNote_New]
        ,INSERTED.[ProductCategory]		AS [ProductCategory_New]
        ,INSERTED.[ProductGrouping]		AS [ProductGrouping_New]
        ,INSERTED.[ProductStatus]		AS [ProductStatus_New]
        ,INSERTED.[ProductType]			AS [ProductType_New]
        ,INSERTED.[ProposedCost]		AS [ProposedCost_New]
        ,INSERTED.[PurchasingGroup]		AS [PurchasingGroup_New]
        ,INSERTED.[QaInsReason]			AS [QaInsReason_New]
        ,INSERTED.[SerialRequired]		AS [SerialRequired_New]
        ,INSERTED.[Size1]				AS [Size1_New]
        ,INSERTED.[SpecialNotes]		AS [SpecialNotes_New]
        ,INSERTED.[Style]				AS [Style_New]
        ,INSERTED.[Units]				AS [Units_New]
        ,INSERTED.[WarehouseProgram]	AS [WarehouseProgram_New]
        ,INSERTED.[WhiteLabel]			AS [WhiteLabel_New]
        ,INSERTED.[TimeStamp]			AS [TimeStamp_New]
		,INSERTED.[NewCategory]			AS [NewCategory_New]
		,INSERTED.[CurrentLot]			AS [CurrentLot_New]
		,INSERTED.[UnitSales3Months]	AS [UnitSales3Months_New]
		,INSERTED.[UnitSales6Months]	AS [UnitSales6Months_New]
		,INSERTED.[UnitSales12Months]	AS [UnitSales12Months_New]
		,INSERTED.[ProductNumber]		AS [ProductNumber_New]
		,INSERTED.[BodyFabric]			AS [BodyFabric_New]
		,INSERTED.[CushionFillType]		AS [CushionFillType_New]
		,INSERTED.[CushionConfig]		AS [CushionConfig_New]
		,INSERTED.[NailheadFinish]		AS [NailheadFinish_New]
		,INSERTED.[NailheadPattern]		AS [NailheadPattern_New]
		,INSERTED.[Finish]				AS [Finish_New]
		,INSERTED.[CustomWidth]			AS [CustomWidth_New]
		,INSERTED.[CustomDepth]			AS [CustomDepth_New]
		,INSERTED.[CustomArm]			AS [CustomArm_New]
		,INSERTED.[CustomBack]			AS [CustomBack_New]
		,INSERTED.[CustomBase]			AS [CustomBase_New]
		,INSERTED.[OutboundVolume]		AS [OutboundVolume_New]
		,INSERTED.[UmbHoleDiameter]		AS [UmbHoleDiameter_New]
		,INSERTED.[PriceMultiplierCat]	AS [PriceMultiplierCat_New]
		,INSERTED.[CustomStockCode]		AS [CustomStockCode_New]
		,INSERTED.[BodyWelt]			AS [BodyWelt_New]	
		,INSERTED.[ExtWarrantyType]		AS [ExtWarrantyType_New]		
		,INSERTED.[PimDepartment]		AS [PimDepartment_New]		
		,INSERTED.[PimCategory]			AS [PimCategory_New]			
		,INSERTED.[PimSubcategory]		AS [PimSubcategory_New]			
		,INSERTED.[PimType]				AS [PimType_New]				
		,INSERTED.[PillowFabric]		AS [PillowFabric_New]			
		,INSERTED.[PillowTrim]			AS [PillowTrim_New]		
		,INSERTED.[PillowTreatement]	AS [PillowTreatment_New]		
		,INSERTED.[SkirtTaping]			AS [SkirtTaping_New]			
		,INSERTED.[SectionalNotches]	AS [SectionalNotches_New]			
		,INSERTED.[PimTypeId]			AS [PimTypeId_New]	
		,INSERTED.[ContrastInsideFab]	AS [ContrastInsideFab_New]	
		,INSERTED.[CushThreadColor]		AS [CushThreadColor_New]	
		,INSERTED.[OutboundINspection]	AS [OutboundInspection_New]		
		,INSERTED.[ExcessInventory]		AS [ExcessInventory_New]			
		,INSERTED.[LabelColor]			AS [LabelColor_New]
  FROM DELETED
  INNER JOIN INSERTED
    ON DELETED.[StockCode] = INSERTED.[StockCode];

END;
