USE [SysproCompany100]
GO
/****** Object:  Trigger [dbo].[trg_Audit_InvMaster+_AfterInsert]    Script Date: 5/24/2023 1:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=======================================================
	Created By:		N/A
	Create Date:	N/A
=======================================================
	Modified By:	Justin Pope
	Modified Date:	2023/05/24
	Description:	SDM 32895 - Field Updates for
					Audit tables
=======================================================
*/

ALTER TRIGGER [dbo].[trg_Audit_InvMaster+_AfterInsert]
  ON [dbo].[InvMaster+]
AFTER INSERT
AS
BEGIN

  SET NOCOUNT ON;

  DECLARE @Audit_DateTime AS DATETIME     = GETDATE()
         ,@Audit_Type     AS VARCHAR(1)   = 'I'
         ,@Audit_Username AS VARCHAR(128) = SYSTEM_USER;

  INSERT INTO SysproCompany100_Audit.Stage.[InvMaster+] (
					[Audit_DateTime]
					,[Audit_Type]
					,[Audit_Username]
					,[StockCode]
					,[AvailableToday_Old]
					,[AvailableIn15Days_Old]
					,[AvailableIn30Days_Old]
					,[CarrierType_Old]
					,[CoaRequired_Old]
					,[CommodityClass_Old]
					,[CompSchDefault_Old]
					,[CushStyle_Old]
					,[CushFabric_Old]
					,[CushCustomCompont_Old]
					,[CushionEmbroidery_Old]
					,[DefaultRoute_Old]
					,[DiscontinuedDate_Old]
					,[Essential_Old]
					,[IncludeAvailReport_Old]
					,[IncludeCycleCount_Old]
					,[IncludeSaleReport_Old]
					,[LifoPool_Old]
					,[LoadingFactor_Old]
					,[LookAheadWindow_Old]
					,[NextAvailableDate_Old]
					,[NmfcCode_Old]
					,[OrderEntryNote_Old]
					,[ProductCategory_Old]
					,[ProductGrouping_Old]
					,[ProductStatus_Old]
					,[ProductType_Old]
					,[ProposedCost_Old]
					,[PurchasingGroup_Old]
					,[QaInsReason_Old]
					,[SerialRequired_Old]
					,[Size1_Old]
					,[SpecialNotes_Old]
					,[Style_Old]
					,[Units_Old]
					,[WarehouseProgram_Old]
					,[WhiteLabel_Old]
					,[TimeStamp_Old]
					--,[NewCategory_Old]
					,[CurrentLot_Old]
					,[UnitSales3Months_Old]
					,[UnitSales6Months_Old]
					,[UnitSales12Months_Old]
					,[ProductNumber_Old]
					,[BodyFabric_Old]
					,[CushionFillType_Old]
					,[CushionConfig_Old]
					,[NailheadFinish_Old]
					,[NailheadPattern_Old]
					,[Finish_Old]
					,[CustomWidth_Old]
					,[CustomDepth_Old]
					,[CustomArm_Old]
					,[CustomBack_Old]
					,[CustomBase_Old]
					,[OutboundVolume_Old]
					,[UmbHoleDiameter_Old]
					,[PriceMultiplierCat_Old]
					,[CustomStockCode_Old]
					--,[WindowBoxFabric_Old]
					--,[SkirtTapingFabric_Old]
					,[BodyWelt_Old]
					--,[ArmCap_Old]
					,[AvailableToday_New]
					,[AvailableIn15Days_New]
					,[AvailableIn30Days_New]
					,[CarrierType_New]
					,[CoaRequired_New]
					,[CommodityClass_New]
					,[CompSchDefault_New]
					,[CushStyle_New]
					,[CushFabric_New]
					,[CushCustomCompont_New]
					,[CushionEmbroidery_New]
					,[DefaultRoute_New]
					,[DiscontinuedDate_New]
					,[Essential_New]
					,[IncludeAvailReport_New]
					,[IncludeCycleCount_New]
					,[IncludeSaleReport_New]
					,[LifoPool_New]
					,[LoadingFactor_New]
					,[LookAheadWindow_New]
					,[NextAvailableDate_New]
					,[NmfcCode_New]
					,[OrderEntryNote_New]
					,[ProductCategory_New]
					,[ProductGrouping_New]
					,[ProductStatus_New]
					,[ProductType_New]
					,[ProposedCost_New]
					,[PurchasingGroup_New]
					,[QaInsReason_New]
					,[SerialRequired_New]
					,[Size1_New]
					,[SpecialNotes_New]
					,[Style_New]
					,[Units_New]
					,[WarehouseProgram_New]
					,[WhiteLabel_New]
					,[TimeStamp_New]
					--,[NewCategory_New]
					,[CurrentLot_New]
					,[UnitSales3Months_New]
					,[UnitSales6Months_New]
					,[UnitSales12Months_New]
					,[ProductNumber_New]
					,[BodyFabric_New]
					,[CushionFillType_New]
					,[CushionConfig_New]
					,[NailheadFinish_New]
					,[NailheadPattern_New]
					,[Finish_New]
					,[CustomWidth_New]
					,[CustomDepth_New]
					,[CustomArm_New]
					,[CustomBack_New]
					,[CustomBase_New]
					,[OutboundVolume_New]
					,[UmbHoleDiameter_New]
					,[PriceMultiplierCat_New]
					,[CustomStockCode_New]
					--,[WindowBoxFabric_New]
					--,[SkirtTapingFabric_New]
					,[BodyWelt_New]
					--,[ArmCap_New]
					-- New Columns SDM 32895
					,[ExtWarrantyType_Old]		
					,[ExtWarrantyType_New]		
					,[PimDepartment_Old]		
					,[PimDepartment_New]		
					,[PimCategory_Old]			
					,[PimCategory_New]			
					,[PimSubcategory_Old]		
					,[PimSubcategory_New]		
					,[PimType_Old]				
					,[PimType_New]				
					,[PillowFabric_Old]			
					,[PillowFabric_New]			
					,[PillowTrim_Old]			
					,[PillowTrim_New]			
					,[PillowTreatment_Old]		
					,[PillowTreatment_New]		
					,[SkirtTaping_Old]			
					,[SkirtTaping_New]			
					,[SectionalNotches_Old]		
					,[SectionalNotches_New]		
					,[ContrastWeltFabric_Old]	
					,[ContrastWeltFabric_New]	
					,[ContrastWeltLoc_Old]		
					,[ContrastWeltLoc_New]		
					,[ContrastFabric_Old]		
					,[ContrastFabric_New]		
					,[ContrastFabricLoc_Old]	
					,[ContrastFabricLoc_New]	
					,[PimTypeId_Old]			
					,[PimTypeId_New]			
					,[ContrastInsideFab_Old]	
					,[ContrastInsideFab_New]	
					,[CushThreadColor_Old]		
					,[CushThreadColor_New]		
					,[OutboundInspection_Old]	
					,[OutboundInspection_New]	
					,[ExcessInventory_Old]		
					,[ExcessInventory_New]		
					,[LabelColor_Old]			
					,[LabelColor_New]			
  )
  SELECT @Audit_DateTime               AS [Audit_DateTime]
        ,@Audit_Type                   AS [Audit_Type]
        ,@Audit_Username               AS [Audit_Username]
        ,INSERTED.[StockCode]          AS [StockCode]
        ,NULL                          AS [AvailableToday_Old]
        ,NULL                          AS [AvailableIn15Days_Old]
        ,NULL                          AS [AvailableIn30Days_Old]
        ,NULL                          AS [CarrierType_Old]
        ,NULL                          AS [CoaRequired_Old]
        ,NULL                          AS [CommodityClass_Old]
        ,NULL                          AS [CompSchDefault_Old]
        ,NULL                          AS [CushStyle_Old]
        ,NULL                          AS [CushFabric_Old]
        ,NULL                          AS [CushCustomCompont_Old]
        ,NULL                          AS [CushionEmbroidery_Old]
        ,NULL                          AS [DefaultRoute_Old]
        ,NULL                          AS [DiscontinuedDate_Old]
        ,NULL                          AS [Essential_Old]
        ,NULL                          AS [IncludeAvailReport_Old]
        ,NULL                          AS [IncludeCycleCount_Old]
        ,NULL                          AS [IncludeSaleReport_Old]
        ,NULL                          AS [LifoPool_Old]
        ,NULL                          AS [LoadingFactor_Old]
        ,NULL                          AS [LookAheadWindow_Old]
        ,NULL                          AS [NextAvailableDate_Old]
        ,NULL                          AS [NmfcCode_Old]
        ,NULL                          AS [OrderEntryNote_Old]
        ,NULL                          AS [ProductCategory_Old]
        ,NULL                          AS [ProductGrouping_Old]
        ,NULL                          AS [ProductStatus_Old]
        ,NULL                          AS [ProductType_Old]
        ,NULL                          AS [ProposedCost_Old]
        ,NULL                          AS [PurchasingGroup_Old]
        ,NULL                          AS [QaInsReason_Old]
        ,NULL                          AS [SerialRequired_Old]
        ,NULL                          AS [Size1_Old]
        ,NULL                          AS [SpecialNotes_Old]
        ,NULL                          AS [Style_Old]
        ,NULL                          AS [Units_Old]
        ,NULL                          AS [WarehouseProgram_Old]
        ,NULL                          AS [WhiteLabel_Old]
        ,NULL                          AS [TimeStamp_Old]
				--,NULL                          AS [NewCategory_Old]
				,NULL                          AS [CurrentLot_Old]
				,NULL                          AS [UnitSales3Months_Old]
				,NULL                          AS [UnitSales6Months_Old]
				,NULL                          AS [UnitSales12Months_Old]
				,NULL                          AS [ProductNumber_Old]
				,NULL                          AS [BodyFabric_Old]
				,NULL                          AS [CushionFillType_Old]
				,NULL                          AS [CushionConfig_Old]
				,NULL                          AS [NailheadFinish_Old]
				,NULL                          AS [NailheadPattern_Old]
				,NULL                          AS [Finish_Old]
				,NULL                          AS [CustomWidth_Old]
				,NULL                          AS [CustomDepth_Old]
				,NULL                          AS [CustomArm_Old]
				,NULL                          AS [CustomBack_Old]
				,NULL                          AS [CustomBase_Old]
				,NULL                          AS [OutboundVolume_Old]
				,NULL                          AS [UmbHoleDiameter_Old]
				,NULL                          AS [PriceMultiplierCat_Old]
				,NULL                          AS [CustomStockCode_Old]
				--,NULL                          AS [WindowBoxFabric_Old]
				--,NULL                          AS [SkirtTapingFabric_Old]
				,NULL                          AS [BodyWelt_Old]
				--,NULL                          AS [ArmCap_Old]
        ,INSERTED.[AvailableToday]     AS [AvailableToday_New]
        ,INSERTED.[AvailableIn15Days]  AS [AvailableIn15Days_New]
        ,INSERTED.[AvailableIn30Days]  AS [AvailableIn30Days_New]
        ,INSERTED.[CarrierType]        AS [CarrierType_New]
        ,INSERTED.[CoaRequired]        AS [CoaRequired_New]
        ,INSERTED.[CommodityClass]     AS [CommodityClass_New]
        ,INSERTED.[CompSchDefault]     AS [CompSchDefault_New]
        ,INSERTED.[CushStyle]          AS [CushStyle_New]
        ,INSERTED.[CushFabric]         AS [CushFabric_New]
        ,INSERTED.[CushCustomCompont]  AS [CushCustomCompont_New]
        ,INSERTED.[CushionEmbroidery]  AS [CushionEmbroidery_New]
        ,INSERTED.[DefaultRoute]       AS [DefaultRoute_New]
        ,INSERTED.[DiscontinuedDate]   AS [DiscontinuedDate_New]
        ,INSERTED.[Essential]          AS [Essential_New]
        ,INSERTED.[IncludeAvailReport] AS [IncludeAvailReport_New]
        ,INSERTED.[IncludeCycleCount]  AS [IncludeCycleCount_New]
        ,INSERTED.[IncludeSaleReport]  AS [IncludeSaleReport_New]
        ,INSERTED.[LifoPool]           AS [LifoPool_New]
        ,INSERTED.[LoadingFactor]      AS [LoadingFactor_New]
        ,INSERTED.[LookAheadWindow]    AS [LookAheadWindow_New]
        ,INSERTED.[NextAvailableDate]  AS [NextAvailableDate_New]
        ,INSERTED.[NmfcCode]           AS [NmfcCode_New]
        ,INSERTED.[OrderEntryNote]     AS [OrderEntryNote_New]
        ,INSERTED.[ProductCategory]    AS [ProductCategory_New]
        ,INSERTED.[ProductGrouping]    AS [ProductGrouping_New]
        ,INSERTED.[ProductStatus]      AS [ProductStatus_New]
        ,INSERTED.[ProductType]        AS [ProductType_New]
        ,INSERTED.[ProposedCost]       AS [ProposedCost_New]
        ,INSERTED.[PurchasingGroup]    AS [PurchasingGroup_New]
        ,INSERTED.[QaInsReason]        AS [QaInsReason_New]
        ,INSERTED.[SerialRequired]     AS [SerialRequired_New]
        ,INSERTED.[Size1]              AS [Size1_New]
        ,INSERTED.[SpecialNotes]       AS [SpecialNotes_New]
        ,INSERTED.[Style]              AS [Style_New]
        ,INSERTED.[Units]              AS [Units_New]
        ,INSERTED.[WarehouseProgram]   AS [WarehouseProgram_New]
        ,INSERTED.[WhiteLabel]         AS [WhiteLabel_New]
        ,INSERTED.[TimeStamp]          AS [TimeStamp_New]
				--,INSERTED.[NewCategory]				 AS [NewCategory_New]
				,INSERTED.[CurrentLot]				 AS [CurrentLot_New]
				,INSERTED.[UnitSales3Months]	 AS [UnitSales3Months_New]
				,INSERTED.[UnitSales6Months]	 AS [UnitSales6Months_New]
				,INSERTED.[UnitSales12Months]  AS [UnitSales12Months_New]
				,INSERTED.[ProductNumber]			 AS [ProductNumber_New]
				,INSERTED.[BodyFabric]				 AS [BodyFabric_New]
				,INSERTED.[CushionFillType]		 AS [CushionFillType_New]
				,INSERTED.[CushionConfig]			 AS [CushionConfig_New]
				,INSERTED.[NailheadFinish]		 AS [NailheadFinish_New]
				,INSERTED.[NailheadPattern]		 AS [NailheadPattern_New]
				,INSERTED.[Finish]						 AS [Finish_New]
				,INSERTED.[CustomWidth]				 AS [CustomWidth_New]
				,INSERTED.[CustomDepth]				 AS [CustomDepth_New]
				,INSERTED.[CustomArm]					 AS [CustomArm_New]
				,INSERTED.[CustomBack]				 AS [CustomBack_New]
				,INSERTED.[CustomBase]				 AS [CustomBase_New]
				,INSERTED.[OutboundVolume]		 AS [OutboundVolume_New]
				,INSERTED.[UmbHoleDiameter]		 AS [UmbHoleDiameter_New]
				,INSERTED.[PriceMultiplierCat] AS [PriceMultiplierCat_New]
				,INSERTED.[CustomStockCode]		 AS [CustomStockCode_New]
				,INSERTED.[WindowBoxFabric]		 AS [WindowBoxFabric_New]
				--,INSERTED.[SkirtTapingFabric]  AS [SkirtTapingFabric_New]
				,INSERTED.[BodyWelt]					 AS [BodyWelt_New]
				--,INSERTED.[ArmCap]						 AS [ArmCap_New]
	-- New Columns SDM 32895
	, Null							as [ExtWarrantyType_Old]		
	, INSERTED.[ExtWarrantyType]	as [ExtWarrantyType_New]		
	, Null							as [PimDepartment_Old]		
	, INSERTED.[PimDepartment]		as [PimDepartment_New]		
	, Null							as [PimCategory_Old]			
	, INSERTED.[PimCategory]		as [PimCategory_New]			
	, null							as [PimSubcategory_Old]		
	, INSERTED.[PimSubcategory]		as [PimSubcategory_New]		
	, null							as [PimType_Old]				
	, INSERTED.[PimType]			as [PimType_New]				
	, null							as [PillowFabric_Old]			
	, INSERTED.[PillowFabric]		as [PillowFabric_New]			
	, null							as [PillowTrim_Old]			
	, INSERTED.[PillowTrim]			as [PillowTrim_New]			
	, null							as [PillowTreatment_Old]		
	, INSERTED.[PillowTreatement]	as [PillowTreatment_New]		
	, null							as [SkirtTaping_Old]			
	, INSERTED.[SkirtTaping]		as [SkirtTaping_New]			
	, null							as [SectionalNotches_Old]		
	, INSERTED.[SectionalNotches]	as [SectionalNotches_New]		
	, null							as [ContrastWeltFabric_Old]	
	, INSERTED.[ContrastWeltFabric]	as [ContrastWeltFabric_New]	
	, null							as [ContrastWeltLoc_Old]		
	, INSERTED.[ContrastWeltLoc]	as [ContrastWeltLoc_New]		
	, null							as [ContrastFabric_Old]		
	, INSERTED.[ContractFabric]		as [ContrastFabric_New]		
	, null							as [ContrastFabricLoc_Old]	
	, INSERTED.[ContrastFabricLoc]	as [ContrastFabricLoc_New]	
	, null							as [PimTypeId_Old]			
	, INSERTED.[PimTypeId]			as [PimTypeId_New]			
	, null							as [ContrastInsideFab_Old]	
	, INSERTED.[ContrastInsideFab]	as [ContrastInsideFab_New]	
	, null							as [CushThreadColor_Old]		
	, INSERTED.[CushThreadColor]	as [CushThreadColor_New]		
	, null							as [OutboundInspection_Old]	
	, INSERTED.[OutboundINspection]	as [OutboundInspection_New]	
	, null							as [ExcessInventory_Old]		
	, INSERTED.[ExcessInventory]	as [ExcessInventory_New]		
	, null							as [LabelColor_Old]			
	, INSERTED.[LabelColor]			as [LabelColor_New]			
  FROM INSERTED;

END;
