USE [SysproDocument]
GO
/****** Object:  StoredProcedure [SOH].[MdnDetail_INSERT]    Script Date: 7/18/2022 1:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
=============================================
Author name:  Justin Pope
Create date:  Thursday, April 21st, 2022
Modify date:  Thursday, April 21st, 2022
Name:         [MdnDetail_INSERT]
Description:  Insert specific charges from
			  the Sales Order
			  
declare @DispatchNote AS NVARCHAR(15) = '100000000241383',
	@SalesOrder        AS NVARCHAR(15) = '200-1086449',
	@LineNumber		   AS INTEGER= 23,
	@MiscChargeValue   AS DECIMAL(14,2) = 0,
	@MiscChargeCost    AS DECIMAL(14,2) = 0;

execute [SOH].[MdnDetail_INSERT]@DispatchNote,@SalesOrder,@LineNumber,@MiscChargeValue,@MiscChargeCost;
=============================================
*/

ALTER PROCEDURE [SOH].[MdnDetail_INSERT]
	@DispatchNote      AS NVARCHAR(15),
	@SalesOrder        AS NVARCHAR(15),
	@LineNumber		   AS INTEGER,
	@MiscChargeValue   AS DECIMAL(14,2),
	@MiscChargeCost    AS DECIMAL(14,2)
AS
BEGIN

	DECLARE @Blank          AS VARCHAR(1) = '',
			@NextMdnDetLine AS DECIMAL(4, 0),
			@No             AS VARCHAR(1) = 'N',
			@Zero           AS TINYINT = 0;
			
    SET @NextMdnDetLine = (SELECT MAX([DispatchNoteLine])
                            FROM SysproCompany100.dbo.MdnDetail WITH (NOLOCK)
                            WHERE [DispatchNote] = @DispatchNote);

	INSERT INTO SysproCompany100.dbo.MdnDetail (
         [DispatchNote]
        ,[DispatchNoteLine]
        ,[SalesOrder]
        ,[SalesOrderLine]
        ,[LineType]
        ,[DispatchStatus]
        ,[TotalValue]
        ,[OverUnderFlag]
        ,[StockDepleted]
        ,[ConfirmationDate]
        ,[ConfirmationLine]
        ,[OrigShipSoUom]
        ,[OrigShipStkUom]
        ,[OrigBoSoUom]
        ,[MStockCode]
        ,[MStockDes]
        ,[MWarehouse]
        ,[MBin]
        ,[MOrderQty]
        ,[MQtyToDispatch]
        ,[MBackOrderQty]
        ,[MUnitCost]
        ,[MBomFlag]
        ,[MParentKitType]
        ,[MQtyPer]
        ,[MScrapPercentage]
        ,[MPrintComponent]
        ,[MComponentSeq]
        ,[MQtyChangesFlag]
        ,[MOptionalFlag]
        ,[MDecimals]
        ,[MOrderUom]
        ,[MStockQtyToShp]
        ,[MStockingUom]
        ,[MConvFactOrdUm]
        ,[MMulDivPrcFct]
        ,[MPrice]
        ,[MPriceUom]
        ,[MCommissionCode]
        ,[MDiscPct1]
        ,[MDiscPct2]
        ,[MDiscPct3]
        ,[MDiscValFlag]
        ,[MDiscValue]
        ,[MProductClass]
        ,[MTaxCode]
        ,[MLineShipDate]
        ,[MAllocStatSched]
        ,[MFstTaxCode]
        ,[MStockUnitMass]
        ,[MStockUnitVol]
        ,[MPriceCode]
        ,[MConvFactAlloc]
        ,[MMulDivQtyFct]
        ,[MTraceableType]
        ,[MMpsFlag]
        ,[MPickingSlip]
        ,[MMovementReqd]
        ,[MSerialMethod]
        ,[MZeroQtyCrNote]
        ,[MAbcApplied]
        ,[MMpsGrossReqd]
        ,[MContract]
        ,[MBuyingGroup]
        ,[MCusSupStkCode]
        ,[MCusRetailPrice]
        ,[MTariffCode]
        ,[MLineReceiptDat]
        ,[MLeadTime]
        ,[MTrfCostMult]
        ,[MSupplementaryUn]
        ,[MReviewFlag]
        ,[MReviewStatus]
        ,[MInvoicePrinted]
        ,[MDelNotePrinted]
        ,[MOrdAckPrinted]
        ,[MHierarchyJob]
        ,[MCustRequestDat]
        ,[MLastDelNote]
        ,[MUserDef]
        ,[MQtyDispatched]
        ,[MDiscChanged]
        ,[MCreditOrderNo]
        ,[MCreditOrderLine]
        ,[MUnitQuantity]
        ,[MConvFactUnitQ]
        ,[MAltUomUnitQ]
        ,[MDecimalsUnitQ]
        ,[MEccFlag]
        ,[MVersion]
        ,[MRelease]
        ,[MCommitDate]
        ,[NComment]
        ,[NCommentFromLin]
        ,[NMscChargeValue]
        ,[NMscProductCls]
        ,[NMscChargeCost]
        ,[NMscInvCharge]
        ,[NCommentType]
        ,[NMscTaxCode]
        ,[NMscFstCode]
        ,[NCommentTextTyp]
        ,[NMscChargeQty]
        ,[NSrvIncTotal]
        ,[NSrvSummary]
        ,[NSrvChargeType]
        ,[NSrvParentLine]
        ,[NSrvUnitPrice]
        ,[NSrvUnitCost]
        ,[NSrvQtyFactor]
        ,[NSrvApplyFactor]
        ,[NSrvDecimalRnd]
        ,[NSrvDecRndFlag]
        ,[NSrvMinValue]
        ,[NSrvMaxValue]
        ,[NSrvMulDiv]
        ,[NPrtOnInv]
        ,[NPrtOnDel]
        ,[NPrtOnAck]
        ,[NTaxAmtFlag]
        ,[NDepRetFlagProj]
        ,[NRetentionJob]
        ,[NSrvMinQuantity]
        ,[NChargeCode]
        ,[TpmUsageFlag]
        ,[PromotionCode]
        ,[TpmSequence]
        ,[SalesOrderInitLine]
        ,[PreactorPriority]
        ,[SalesOrderDetStat]
        ,[JnlYear]
        ,[JnlMonth]
        ,[Journal]
        ,[JournalLine]
        ,[MaterialAllocLine]
        ,[ScrapQuantity]
        ,[FixedQtyPerFlag]
        ,[FixedQtyPer]
      )
      SELECT @DispatchNote                        AS [DispatchNote]
            ,   ROW_NUMBER() OVER
                  (ORDER BY [SalesOrder]     ASC
                           ,[SalesOrderLine] ASC)
              + @NextMdnDetLine                   AS [DispatchNoteLine]
            ,[SalesOrder]                         AS [SalesOrder]
            ,[SalesOrderLine]                     AS [SalesOrderLine]
            ,[LineType]                           AS [LineType]
            ,@Blank                               AS [DispatchStatus]
            ,@Zero                                AS [TotalValue]
            ,@Blank                               AS [OverUnderFlag]
            ,@Blank                               AS [StockDepleted]
            ,NULL                                 AS [ConfiramtionDate]
            ,@Zero                                AS [ConfirmationLine]
            ,@Zero                                AS [OrigShipSoUom]
            ,@Zero                                AS [OrigShipStkUom]
            ,@Zero                                AS [OrigBoSoUom]
            ,@Blank                               AS [MStockCode]
            ,@Blank                               AS [MStockDes]
            ,@Blank                               AS [MWarehouse]
            ,@Blank                               AS [MBin]
            ,@Zero                                AS [MOrderQty]
            ,@Zero                                AS [MQtyToDispatch]
            ,@Zero                                AS [MBAckOrderQty]
            ,@Zero                                AS [MUnitCost]
            ,@Blank                               AS [MBomFlag]
            ,@Blank                               AS [MParentKitType]
            ,@Zero                                AS [MQtyPer]
            ,@Zero                                AS [MScrapPercentage]
            ,@Blank                               AS [MPrintComponent]
            ,@Blank                               AS [MComponentSeq]
            ,@Blank                               AS [MQtyChangesFlag]
            ,@Blank                               AS [MOptionalFlag]
            ,@Zero                                AS [Decimals]
            ,@Blank                               AS [MOrderUom]
            ,@Zero                                AS [MStockQtyToShp]
            ,@Blank                               AS [MStockingUom]
            ,@Zero                                AS [MConvFactOrdUm]
            ,@Blank                               AS [MMulDicPrcFct]
            ,@Zero                                AS [MPrice]
            ,@Blank                               AS [MPriceUom]
            ,@Blank                               AS [MCommissionCode]
            ,@Zero                                AS [MDiscPct1]
            ,@Zero                                AS [MDiscPct2]
            ,@Zero                                AS [MDicsPct3]
            ,@Blank                               AS [MDicsValFlag]
            ,@Zero                                AS [MDicsValue]
            ,@Blank                               AS [MProductClass]
            ,@Blank                               AS [MTaxCode]
            ,NULL                                 AS [MLineShipDate]
            ,@Blank                               AS [MAllocStatSched]
            ,@Blank                               AS [MFstTaxCode]
            ,@Zero                                AS [MStockUnitMass]
            ,@Zero                                AS [MStockUnitVol]
            ,@Blank                               AS [MPriceCode]
            ,@Zero                                AS [MConvFactAlloc]
            ,@Blank                               AS [MMulDivQtyFct]
            ,@Blank                               AS [MTraceableType]
            ,@Blank                               AS [NMpsFlag]
            ,@Blank                               AS [MPickingSlip]
            ,@Blank                               AS [MMovementReq]
            ,@Blank                               AS [MSerialMethod]
            ,@Blank                               AS [MZeroQtyCrNote]
            ,@Blank                               AS [MAbcApplied]
            ,@Blank                               AS [MMpsGrossReqd]
            ,@Blank                               AS [MContract]
            ,@Blank                               AS [MBuyingGroup]
            ,@Blank                               AS [MCusSupStkCode]
            ,@Zero                                AS [MCusRetailPrice]
            ,@Zero                                AS [MTariffCode]
            ,NULL                                 AS [MLineReceiptDat]
            ,@Zero                                AS [MLeadTIme]
            ,@Zero                                AS [MTrfCostMult]
            ,@Blank                               AS [MSupplimentaryUn]
            ,@Blank                               AS [MReviewFlag]
            ,@Blank                               AS [MReviewStatus]
            ,@Blank                               AS [MInvoicePrinted]
            ,@Blank                               AS [MDelNotePrinted]
            ,@Blank                               AS [MOrdAckPrinted]
            ,@Blank                               AS [MHierarchyJob]
            ,NULL                                 AS [MCustRequestDat]
            ,@Blank                               AS [MLastDelNote]
            ,@Blank                               AS [MUserDef]
            ,@Zero                                AS [MQtyDispatched]
            ,@Blank                               AS [MDiscChanged]
            ,@Blank                               AS [MCreditOrderNo]
            ,@Zero                                AS [MCrediteOrderLine]
            ,@Blank                               AS [MUnitQuantity]
            ,@Zero                                AS [MConvFactUnitQ]
            ,@Blank                               AS [MAltUomUnitQ]
            ,@Zero                                AS [MDecimalsUnitQ]
            ,@Blank                               AS [MEccFlag]
            ,@Blank                               AS [MVersion]
            ,@Blank                               AS [MRelease]
            ,NULL                                 AS [MCommitDate]
            ,[NComment]                           AS [NComment]
            ,@Zero                                AS [NCommentFromLin]
            ,@MiscChargeValue                     AS [NMscChargeValue]
            ,[NMscProductCls]                     AS [NMscProductCls]
            ,@MiscChargeCost                      AS [NMscChargeCost]
            ,@Blank                               AS [NMscInvCharge]
            ,@Blank                               AS [NCommentType]
            ,[NMscTaxCode]                        AS [NMscTaxCode]
            ,[NMscFstCode]                        AS [NMscFstCode]
            ,@Blank                               AS [NCommentTextTyp]
            ,[NMscChargeQty]                      AS [NMscChargeQty]
            ,[NSrvIncTotal]                       AS [NSrvIncTotal]
            ,[NSrvSummary]                        AS [NSrvSummary]
            ,[NSrvChargeType]                     AS [NSrvChargeType]
            ,[NSrvParentLine]                     AS [NSrvParentLine]
            ,[NSrvUnitPrice]                      AS [NSrvUnitPrice]
            ,[NSrvUnitCost]                       AS [NSrvUnitCost]
            ,[NSrvQtyFactor]                      AS [NSrvQtyFactor]
            ,[NSrvApplyFactor]                    AS [NSrvApplyFactor]
            ,[NSrvDecimalRnd]                     AS [NSrvDecimalRnd]
            ,[NSrvDecRndFlag]                     AS [NSrvDecRndFlag]
            ,[NSrvMinValue]                       AS [NSrvMinValue]
            ,[NSrvMaxValue]                       AS [NSrvMaxValue]
            ,[NSrvMulDiv]                         AS [NSrvMulDiv]
            ,[NPrtOnInv]                          AS [NPrtOnInv]
            ,[NPrtOnDel]                          AS [NPrtOnDel]
            ,[NPrtOnAck]                          AS [NPrtOnAck]
            ,[NTaxAmountFlag]                     AS [NTaxAmountFlag]
            ,[NDepRetFlagProj]                    AS [NDepRetFlagProj]
            ,@Blank                               AS [NRetentionJob]
            ,[NSrvMinQuantity]                    AS [NSrvMinQuantity]
            ,[NChargeCode]                        AS [NChargeCode]
            ,@Blank                               AS [TpmUsageFlag]
            ,@Blank                               AS [PromotionCode]
            ,@Zero                                AS [TpmSequence]
            ,[SalesOrderInitLine]                 AS [SalesOrderInitLine]
            ,@Zero                                AS [PreactorPriority]
            ,@Blank                               AS [SalesOrderDetStat]
            ,@Zero                                AS [JnlYear]
            ,@Zero                                AS [JnlMonth]
            ,@Zero                                AS [Journal]
            ,@Zero                                AS [JournalLine]
            ,@Blank                               AS [MaterialAllocLine]
            ,@Zero                                AS [ScrapQuantity]
            ,@Blank                               AS [FixedQtyPerFlag]
            ,@Zero                                AS [FixedQtyPer]
      FROM SysproCompany100.dbo.SorDetail
      WHERE [SalesOrder] = @SalesOrder
        AND [SalesOrderLine] = @LineNumber;

		
      UPDATE SysproCompany100.dbo.MdnMaster
      SET [NextDetailLine] = (SELECT MAX([DispatchNoteLine])
                              FROM SysproCompany100.dbo.MdnDetail WITH (NOLOCK)
                              WHERE [DispatchNote] = @DispatchNote)
         ,[ReprintFormat]  = 'O'
         ,[Email] = (SELECT [Email]
                     FROM SysproCompany100.dbo.SorMaster WITH (NOLOCK)
                     WHERE [SalesOrder] = @SalesOrder)
      WHERE [DispatchNote] = @DispatchNote;

END