USE [PRODUCT_INFO]
GO
/****** Object:  UserDefinedFunction [SugarCrm].[tvf_BuildSalesOrderLineDataset]    Script Date: 4/4/2022 11:13:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [SugarCrm].[tvf_BuildSalesOrderLineDataset]()
RETURNS TABLE
AS
RETURN

	SELECT	[SalesOrderLine_Ref].[SalesOrder]		AS [SalesOrder]
		,[SalesOrderLine_Ref].[SalesOrderLine]		AS [SalesOrderLine]
		,[SalesOrderLine_Ref].[MStockCode]				AS [MStockCode]
		,CONVERT(VARCHAR(50),			-- REPLACE converts data to VARCHAR(8000)
		  REPLACE(				-- Replace carriage returns with space
		    REPLACE(				-- Replace new line characters with space
		      REPLACE(				-- Remove regular quotes
		        REPLACE([SalesOrderLine_Ref].[MStockDes],'”','')	-- Remove smart quotes
		      ,'"','')
		    ,CHAR(10),' ')
		  ,CHAR(13),' '))														AS [MStockDes]
		,[SalesOrderLine_Ref].[MWarehouse]					AS [MWarehouse]
		,[SalesOrderLine_Ref].[MOrderQty]						AS [MOrderQty]
		,([SalesOrderLine_Ref].[MOrderQty]
			- [SalesOrderLine_Ref].[MShipQty]
			- [SalesOrderLine_Ref].[MBackOrderQty]
			- [SalesOrderLine_Ref].[QtyReserved])			AS [InvoicedQty]
		,[SalesOrderLine_Ref].[MShipQty]						AS [MShipQty]
		,[SalesOrderLine_Ref].[QtyReserved]					AS [QtyReserved]
		,[SalesOrderLine_Ref].[MBackOrderQty]				AS [MBackOrderQty]
		,[SalesOrderLine_Ref].[MPrice]							AS [MPrice]
		,[SalesOrderLine_Ref].[MProductClass]				AS [MProductClass]
		,[SalesOrderLine_Ref].[SalesOrderInitLine]	AS [InitLine]
		,[SalesOrderLine_Ref].[Action]							AS [Action]
	FROM PRODUCT_INFO.[SugarCrm].[SalesOrderLine_Ref]
	WHERE [SalesOrderLine_Ref].LineSubmitted = 0;

