USE [PRODUCT_INFO]
GO
/****** Object:  StoredProcedure [Syspro].[usp_Rest_Utility_AdmPassHistory]    Script Date: 7/7/2023 9:06:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
   Name:        REST - Query - AdmPassHistory
   Schema:      Syspro
   Author name: Chris Nelson
   Create date: 
   Modify date: 05/24/22 Dondic - Extend GUID Field Lenght for Syspro 8

   DECLARE @UserId AS VARCHAR(34) = '18E029D14D56B240BDAA9B2B3E2855EC00';

   EXECUTE DBAdmin.dbo.usp_Query
      @UserId;

   PRINT '@UserId = ' + @UserId;
   ============================================= */

ALTER PROCEDURE [Syspro].[usp_Rest_Utility_AdmPassHistory]
   @UserId AS VARCHAR(75)
AS
BEGIN

  SET NOCOUNT ON;

  DECLARE @BusinessObject AS VARCHAR(6)    = 'COMFND'
         ,@ErrorMessage   AS VARCHAR(MAX)  = NULL
         ,@HttpStatus     AS INTEGER       = NULL
         ,@Object         AS INTEGER       = NULL
         ,@QueryUri       AS VARCHAR(MAX)  = 'http://7SYSPRO:30001/SYSPROWCFService/Rest/Query/Query?'
         ,@Query          AS VARCHAR(MAX)  = NULL
         ,@Result         AS INTEGER       = NULL
         ,@XmlIn          AS VARCHAR(8000) = NULL
         ,@XmlOut         AS XML           = NULL;

  SELECT @XmlIn = CONVERT(VARCHAR(8000), [XmlIn])
  FROM PRODUCT_INFO.Syspro.Rest_Query_XmlIn
  WHERE [TableName] = 'AdmPassHistory';

  SELECT @Query =   @QueryUri
                  +  'UserId='         + PRODUCT_INFO.dbo.svf_UrlEncode (@UserId)
                  + '&BusinessObject=' + PRODUCT_INFO.dbo.svf_UrlEncode (@BusinessObject)
                  + '&XmlIn='          + PRODUCT_INFO.dbo.svf_UrlEncode (@XmlIn);

  PRINT @Query;

  DECLARE @Response AS TABLE (
     [Value] VARCHAR(MAX)
  );

  EXECUTE @Result = sp_OACreate 'MSXML2.ServerXMLHttp', @Object OUTPUT;

  BEGIN TRY

    EXECUTE @Result = sp_OAMethod @Object, 'open', NULL, 'GET', @Query, false;
    EXECUTE @Result = sp_OAMethod @Object, send, NULL, '';
    EXECUTE @Result = sp_OAGetProperty @Object, 'status', @HttpStatus OUTPUT;

    INSERT INTO @Response
    EXECUTE @Result = sp_OAGetProperty @Object, 'responseText';

  END TRY

  BEGIN CATCH

    SELECT @ErrorMessage = ERROR_MESSAGE();

  END CATCH;

  EXECUTE @Result = sp_OADestroy @Object;

  IF    (@ErrorMessage IS NOT NULL)
     OR (@HttpStatus <> 200)
  BEGIN

    SELECT @ErrorMessage = 'Error in Syspro.usp_Rest_Query_AdmPassHistory: ' + ISNULL(@ErrorMessage, 'HTTP result is: ' + CONVERT(VARCHAR(MAX), @HttpStatus));

    RAISERROR(@ErrorMessage, 16, 1, @HttpStatus);

    RETURN;

  END;

  SELECT @XmlOut = CONVERT(XML, [Value])
  FROM @Response;

  SELECT t.c.value('(Company/text())[1]'      ,'VARCHAR(4)')   AS [Company]
        ,t.c.value('(PasswordType/text())[1]' ,'VARCHAR(6)')   AS [PasswordType]
        ,t.c.value('(PassKey/text())[1]'      ,'VARCHAR(110)') AS [PassKey]
        ,t.c.value('(PassDateSet/text())[1]'  ,'VARCHAR(10)')  AS [PassDateSet]
        ,t.c.value('(PassTimeSet/text())[1]'  ,'DECIMAL(8,0)') AS [PassTimeSet]
  FROM @XmlOut.nodes('/AdmPassHistory/Row') AS t(c)
  ORDER BY [Company]      ASC
          ,[PasswordType] ASC
          ,[PassKey]      ASC
          ,[PassDateSet]  ASC
          ,[PassTimeSet]  ASC;

END;
